body{
    background-color:#2f4050;
}
.col-sm-10{
    background-color: #ffffff;
}
.side_menue{
    color: #ffffff;
}
#side_menue a{
    color: #9fb1c2;
}
#side_menue .active a{
    color: #ffffff;
    background-color: #27AAE1;
    font-weight: bold;
}
#side_menue a:hover{
    color: #ffffff;
    background-color: #27AAE1;
    font-weight: bold;
}
#footer{
    color:#eeeeee;
    background-color: #211f22;
    text-align: center;
}
#footer ul{
    display: inline-block;
}
#footer ul li{
    float: left;
    display: block;
}
#footer a{
    color: white;
    background-color: transparent; 
}
